{% comment %}
  Render cart note
  Usage:
  {% render 'cart-note' %}
{% endcomment %}

{%- if settings.show_cart_note -%}
  <collapsible-content>
    <details
      id="Details-SideCart"
      class="cart-note-wrapper gradient"
      data-color-scheme="{{ settings.note_color_scheme }}"
    >
      <summary>
        <div class="cart-note__header">
          <span class="cart-note__title">
            {{ 'sections.cart.note' | t }}
          </span>
          <span class="icon-toggler">
            {% render 'icon' with 'chevron-down', width: '18', height: '18' %}
          </span>
        </div>
      </summary>
      <div class="cart-note__panel has-motion">
        <cart-note class="cart-note__content">
          <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            id="CartDrawer-Note"
            class="text-area text-area--resize-vertical"
            name="note"
            placeholder="{{ 'sections.cart.note_lebel' | t }}"
          >{{ cart.note }}</textarea>
        </cart-note>
      </div>
    </details>
  </collapsible-content>
{%- endif -%}