{% comment %}
  Renders a product card
  Accepts:
   - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)
  
  Usage:
  {% render 'product-card-list-small', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{% liquid
  if collection and settings.card_url_within_coll and product.collections contains collection
    assign product_url = product.url | within: collection
  else
    assign product_url = product.url
  endif
 
%}

<div
  class="product-card card card-with-{{ settings.card_style }} corner-radius-{{ settings.corner_radius }} gradient"
  data-color-scheme="{{ settings.card_color_scheme }}"
>
  {%- if product and product != empty -%}
    <div class="product-card__image">
  {%- liquid
        if settings.product_badge_card_position != "none"
          render 'product-badge', product: product, position: settings.product_badge_card_position, is_product_card: true, limit: 2
        endif
      -%} 
      {%- if product.available and settings.quickview_enable -%}
        <quick-view-product>
          <div
            class="quick-view__holder quickview-{{ settings.quickview_style }}"
            data-quick-view-holder="{{ product.id }}"
          >
            {% render 'quick-view', product: product %}
          </div>
        </quick-view-product>
      {%- endif -%}
      {% render 'product-card-image', product: product, image_ratio: image_ratio %}
      {%- render 'promotional-tagline', product: product -%}
      {%- render 'size-variants', product: product -%}
    </div>
    <div class="product-card__info">
      <div class="product-card-body">
        <div class="product-card-body__inner">
            {%- render 'siblings', product: product -%}
            {%- render 'swatch', product: product -%}
          <div class="product-card__inner">

          {% assign single_option_name = settings.single_option_name  | downcase %}
       {% assign  single_varition = false %}
      {%- if product.options_by_name[single_option_name].values.size > 0 and settings.enable_single_varition  -%}
             {% assign  single_varition = true %}
        {%- endif -%}


               {% liquid
                capture product_item_cutline
                if settings.show_cutline and product.metafields.theme.cutline != blank and product.metafields.theme.cutline.type == 'single_line_text_field'
                  assign product_title_downcase = product.title | strip_html | escape | downcase
                  assign cutline_downcase = product.metafields.theme.cutline.value | downcase
                  unless product_title_downcase contains cutline_downcase
                    echo product.metafields.theme.cutline.value
                  endunless
                endif
              endcapture
               assign any_sibling_cutline = false
              assign sibling_products = product.metafields.theme.sibling_products.value | default: collections[product.metafields.theme.siblings.value].products
                for sib_product in sibling_products
                   assign sib_cutline = sib_product.metafields.theme.cutline | strip_html
                    if sib_cutline != blank
                    assign any_sibling_cutline = true
                    endif
                   endfor 

                     capture cutline
                    if any_sibling_cutline and product_item_cutline != blank  and  settings.show_siblings
                      assign cutline_color = settings.cutline_color

                      unless cutline_color == 'rgba(0,0,0,0)' or cutline_color == blank
                        assign style = '--text-color:' | append: cutline_color
                      endunless

                      echo '<span class="product-item__cutline"'
                      if style != blank
                        echo ' style="' | append: style | append: '"'
                      endif
                      echo '> - '
                      echo product_item_cutline
                      echo '</span>'
                    endif
                  endcapture
                    

              %}
  
 

            {%- if settings.show_vendor and single_varition == false -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <p class="product-card__vendor">{{ product.vendor | escape }}</p>
            {%- endif -%}

            <h3 class="product-card__title">
              <a role="link" aria-disabled="true" class="product-link link-animation" href="{{ product_url }}">
                {{ product.title | strip_html | escape }}  {{ cutline }}
              </a>
            </h3>
      
            

            {%- if settings.show_rating -%}
              {% render 'rating', product: product %}
            {%- endif -%}

           

            <div class="product-card__price">
              {%- render 'price', product: product, use_variant: false, show_badges: false -%}
            </div>
          </div>

          {%- if show_quick_add and button_type != 'icon-only' -%}
            {% render 'quick-add', product: product, button_class: button_class, button_type: button_type %}
          {%- endif -%}
        </div>

        {%- if show_quick_add and button_type == 'icon-only' -%}
          {% render 'quick-add', product: product, button_class: button_class, button_type: button_type %}
        {%- endif -%}
      </div>
    </div>
  {%- else -%}
    <div class="product-card__image">
      <div
        class="product-media media {% if image_ratio != false %}  media media--no-hover  media--{{ image_ratio }} {% endif %}"
        {% if image_ratio == 'aspect-ratio' %}
          style="padding-bottom: {% render 'aspect-ratio' with image.aspect_ratio as aspect_ratio %}%;"
        {% endif %}
      >
        {%- if placeholder_image -%}
          {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
        {%- else -%}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
    <div class="product-card__info">
      <div class="product-card-body">
        <div class="product-card-body__inner">
          <div class="product-card__inner">
            <h3 class="product-card__title product-card__title--placeholder">
              <a role="link" aria-disabled="true" class="product-link">
                {{ 'onboarding.product_title' | t }}
              </a>
            </h3>
            <div class="product-card__price">
              {%- render 'price', product: product, use_variant: false, show_badges: false -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

   <script type="application/json" data-variants>
    {{- product.variants | json -}}
  </script>

    <script type="application/json" data-variants-images>
    [
    {%- for variant in product.variants -%}
      {%- unless forloop.first -%},{%- endunless -%}
      {%- assign variant_image = variant.image | default: product.featured_image -%}
      {
        "id": {{ variant.id | json }},
        "image": {
          "src": "{{ variant_image | image_url: width: 500 }}",
          "srcset": "{%- render 'srcset', image: variant_image -%}"
        }
      }
    {%- endfor -%}
    ]
  </script>
</div>
