{{ 'component-video.css' | asset_url | stylesheet_tag: preload: true }}
<noscript>{{ 'component-video.css' | asset_url | stylesheet_tag }}</noscript>
{{- 'section-featured-collections.css' | asset_url | stylesheet_tag -}}

<div
  class="featured-collections-wrapper collection-promo-animate"
  role="region"
  aria-label="Featured collections"
>
  {% render 'background-element', placeholder: false %}

  <div class="featured-collections__content">
    <div class="{{section.settings.width}}">
      <div class="featured-collections__inner">
        <div role="region" aria-label="promo images" class="featured-collections__left-column">
          <div class="collection-promo__item collection-promo-fad-up">
            <a href="shop.html" class="collection-promo__img-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </a>
          </div>
          <div class="collection-promo__item collection-promo-fad-up">
            <a href="shop.html" class="collection-promo__img-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </a>
               <modal-opener class="product-selector__size-link p4" data-modal="#promo-video-modal">

            <button class="collection-promo__play-button" aria-haspopup="dialog">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="#000000"
                viewBox="0 0 256 256"
              >
                <path
                    d="M240,128a15.74,15.74,0,0,1-7.6,13.51L88.32,229.65a16,16,0,0,1-16.2.3A15.86,15.86,0,0,1,64,216.13V39.87a15.86,15.86,0,0,1,8.12-13.82,16,16,0,0,1,16.2.3L232.4,114.49A15.74,15.74,0,0,1,240,128Z">
                </path>
              </svg>
            </button>


    
    </modal-opener>
     
          </div>
        </div>
        <div class="featured-collections__right-column">
          <ul role="list" aria-label="collection list" class="featured-collection-items">
            <li class="featured-collection__item collection-promo-fad-up">
              <a href="shop.html">
                <div class="featured-collection__img-wrap">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <p>
                  <span class="link-animation"> Accessories</span>
                </p>
              </a>
            </li>
            <li class="featured-collection__item collection-promo-fad-up">
              <a href="shop.html">
                <div class="featured-collection__img-wrap">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <p>
                  <span class="link-animation">New Arrivals</span>
                </p>
              </a>
            </li>
            <li class="featured-collection__item featured-collection__item-big-image collection-promo-fad-up">
              <a href="shop.html">
                <div class="featured-collection__img-wrap">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <p>
                  <span class="link-animation">Women Collection</span>
                </p>
              </a>
            </li>
            <li class="featured-collection__item collection-promo-fad-up">
              <a href="shop.html">
                <div class="featured-collection__img-wrap">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <p>
                  <span class="link-animation">Street Were </span>
                </p>
              </a>
            </li>
          </ul>
          <div class="featured-collection__caption collection-promo-fad-up">
            <p class="desc">Weekly Hot Deals. Get Up to 25% Discount</p>

            <a
              class="button button--primary button--with-icon"
              href="/products/breasted-trench-coat"
              aria-label="Shop Now"
            >
              <span class="button--text">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  width="16"
                  height="16"
                  class="icon-arrow icon icon-arrow"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M12.75 4V10.5C12.75 10.6989 12.671 10.8897 12.5303 11.0303C12.3896 11.171 12.1989 11.25 12 11.25C11.8011 11.25 11.6103 11.171 11.4696 11.0303C11.329 10.8897 11.25 10.6989 11.25 10.5V5.8125L4.5306 12.5306C4.3897 12.6715 4.19861 12.7507 3.99935 12.7507C3.80009 12.7507 3.60899 12.6715 3.4681 12.5306C3.3272 12.3897 3.24805 12.1986 3.24805 11.9994C3.24805 11.8001 3.3272 11.609 3.4681 11.4681L10.1875 4.75H5.49997C5.30106 4.75 5.11029 4.67098 4.96964 4.53033C4.82899 4.38968 4.74997 4.19891 4.74997 4C4.74997 3.80109 4.82899 3.61032 4.96964 3.46967C5.11029 3.32902 5.30106 3.25 5.49997 3.25H12C12.1989 3.25 12.3896 3.32902 12.5303 3.46967C12.671 3.61032 12.75 3.80109 12.75 4Z" fill="currentColor"></path>
                </svg>

                Shop Now
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>


    <!-- /product-selector__size-link -->
  </div>

  <!-- PROMO VIDEO -->
  <div class="popup" id="videoPopup">
    <div class="popup-wrapper">
      <div class="promo-video-popup">
    
        <!-- CLOSE BUTTON -->
        <button class="close-button" role="button">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M13.0306 11.9695C13.1715 12.1104 13.2506 12.3015 13.2506 12.5007C13.2506 12.7 13.1715 12.8911 13.0306 13.032C12.8897 13.1729 12.6986 13.252 12.4993 13.252C12.3001 13.252 12.109 13.1729 11.9681 13.032L7.99997 9.06261L4.0306 13.0307C3.8897 13.1716 3.69861 13.2508 3.49935 13.2508C3.30009 13.2508 3.10899 13.1716 2.9681 13.0307C2.8272 12.8898 2.74805 12.6987 2.74805 12.4995C2.74805 12.3002 2.8272 12.1091 2.9681 11.9682L6.93747 8.00011L2.96935 4.03073C2.82845 3.88984 2.7493 3.69874 2.7493 3.49948C2.7493 3.30023 2.82845 3.10913 2.96935 2.96823C3.11024 2.82734 3.30134 2.74818 3.5006 2.74818C3.69986 2.74818 3.89095 2.82734 4.03185 2.96823L7.99997 6.93761L11.9693 2.96761C12.1102 2.82671 12.3013 2.74756 12.5006 2.74756C12.6999 2.74756 12.891 2.82671 13.0318 2.96761C13.1727 3.10851 13.2519 3.2996 13.2519 3.49886C13.2519 3.69812 13.1727 3.88921 13.0318 4.03011L9.06247 8.00011L13.0306 11.9695Z"
                fill="#020714" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

{% capture modal_content %}
      <video width="708" height="584" class="promo-video" preload="auto" loop controls>
          <source src="./assets/videos/video-02.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
{% endcapture %}

{%- render 'modal-dialog',
  title: 'title',
  content: modal_content,
  id: 'promo-video-modal',
  modifiers: 'video-modal,large',
  class: 'modal class'
-%}

{% schema %}
{
  "name": "Featured collections",
  "tag": "section",
  "class": "featured-collections",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "Layout wdith"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "container-full",
      "options": [
        {
          "value": "container-full",
          "label": "Full width"
        },
        {
          "value": "container-full-with-padding",
          "label": "Full width padded"
        },
        {
          "value": "container-full-mobile",
          "label": "Full width mobile only"
        },
        {
          "value": "container",
          "label": "Page width"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 120
    },
    {
      "type": "paragraph",
      "content": "Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "_collection-block"
    }
  ],
  "presets": [
    {
      "name": "Featured collections",
      "category": "Collections",
      "settings": {
        "width": "container",
        "color_scheme": "",
        "padding_top": 120,
        "padding_bottom": 120,
        "padding_top_tablet": 80,
        "padding_bottom_tablet": 80,
        "padding_top_mobile": 60,
        "padding_bottom_mobile": 60
      }
    }
  ],
  "enabled_on": {
    "templates": ["*"],
    "groups": ["aside"]
  }
}
{% endschema %}
