
{{- 'blog-section.css' | asset_url | stylesheet_tag: preload: true -}}

{%- style -%}
  #shopify-section-{{ section.id }} {
        --pad-top-desktop: {{ section.settings.padding_top }}px;
        --pad-bottom-desktop: {{ section.settings.padding_bottom }}px;
        --pad-top-tablet: {{ section.settings.padding_top_tablet }}px;
        --pad-bottom-tablet: {{ section.settings.padding_bottom_tablet }}px;
        --pad-top-mobile: {{ section.settings.padding_top_mobile }}px;
        --pad-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
  }
{%- endstyle -%}
 



{% liquid

 assign page_width = section.settings.width

 assign heading = section.settings.heading 
 assign heading_size = section.settings.heading_size 
 assign heading_align  = section.settings.heading_align 

 assign sub_text = section.settings.sub_text 
 assign text_size = section.settings.text_size 
 
%}





        <div class="blog-section section--padding" data-color-scheme="{{ section.settings.color_scheme }}">
          <div class="{{ page_width }}">

            {% if heading != blank or sub_text != blank %}
              <div class="section-header blog-section-header" aria-label="Blog Section Header">

                {% if heading != blank %}
                  <h2 class="section-heading hxl fade-up {{ heading_align }} {{ heading_size }}">
                    {{ heading }}
                  </h2>
                {% endif %}

                {% if sub_text != blank %}
                  <p class="section-desc fade-up body--{{ text_size }}">
                    {{ sub_text }}
                  </p>
                {% endif %}

              </div>
            {% endif %}

            <div class="blog-card-wrapper">

              <div class="blog-card-list-wrapper" role="list">

                {% for block in section.blocks %}
                  {% liquid
                    assign block_size = block.settings.block_size
                    assign image = block.settings.image
                    assign title = block.settings.title
                    assign title_size = block.settings.title_size
                    assign article = block.settings.article
                    assign short_details = block.settings.short_details
                    assign text_style = block.settings.text_style
                    assign text_size = block.settings.text_size
                  %}

                  <div 
                    class="blog-card-list blog-card-{{ block_size }} blog-card-{{ block_size }}-{{ forloop.index }}"
                    role="listitem"
                    aria-label="Blog card {{ title | escape }}"
                  >

                    {% if image != blank %}
                      <div class="blog-card-image-wrapper image-animation">
                        {% render 'image',
                          image: image,
                          widths: '480, 550, 960, 1100',
                          mobile_widths: '320, 480, 550',
                          src_width: 1280,
                          sizes: '(max-width: 600px) 100vw, 50vw',
                          lazy_load: true,
                          decoding: 'async',
                          fetchpriority: 'low',
                          alt_text: title | default: 'Blog article image'
                        %}
                      </div>
                      {% else %} 
                      {{ "image" |  placeholder_svg_tag:"placeholder_svg_tag" }}
                    {% endif %}

                    <div class="blog-card-body">
                     {% if article != blank %}
                        <div class="blog-card-meta">

                          {% if article.tags.size > 0 %}
                            <span class="blog-card-meta-tag" aria-label="Blog tags">
                              {% for tag in article.tags %}
                                {{ tag }}{% unless forloop.last %},{% endunless %}
                              {% endfor %}
                            </span>
                          {% endif %}

                          <span class="blog-card-meta-date">
                            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                              {{ article.published_at | date: "%b %d, %Y" }}
                            </time>
                          </span>

                        </div>
                     {% endif %}

                      {% if title != blank %}
                        <div class="blog-title">
                          <a href="{{ article.url }}" class="blog-link-animation {{ title_size }}" role="link">
                            {{ title }}
                          </a>
                        </div>
                      {% endif %}

                      {% if short_details != blank %}
                        <div class="blog-desc">
                          <a href="{{ article.url }}" class="{{ text_style }} body--{{ text_size }}" role="link">
                            {{ short_details }}
                          </a>
                        </div>
                      {% endif %}

                    </div>

                  </div>
                {% endfor %}

              </div>

            </div>
          </div>
        </div>







{% schema %}
{
  "name": "Featured blog",
  "tag": "section",
  "blocks": [
    {
      "type": "Block",
      "name": "Block",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select image"
        },
         {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default":"<h4>Title here</h4>"
        },
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "label": "H1",
              "value": "h1"
            },
            {
              "label": "H2",
              "value": "h2"
            },
            {
              "label": "H3",
              "value": "h3"
            },
            {
              "label": "H4",
              "value": "h4"
            },
            {
              "label": "H5",
              "value": "h5"
            },
            {
              "label": "H6",
              "value": "h6"
            }
          ],
          "default":"h3",
          "label": "Title size"
        },
        {
          "type": "richtext",
          "id": "short_details",
          "label": "Details here",
          "default":"<p> Stay ahead in the fashion game by exploring the latest seasonal styles that will keep your wardrobe fresh and trendy. </p>"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            }
          ],
          "default": "body",
          "label": "Body"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "text Size"
        },
        {
          "type": "color_scheme",
          "id": "color_schema",
          "label": "Color schema",
          "default":"scheme-3"
        },
        {
            "type": "select",
            "id": "block_size",
            "options": [
                {
                    "label": "Horizontal",
                    "value": "horizontal"
                },
                {
                    "label": "Vertical",
                    "value": "vertical"
                }
            ],
            "default":"horizontal",
            "label": "Block Size"
        },
        {
            "type": "article",
            "id": "article",
            "label": "Select article"
        }
      ]
    }
    
  ],

  "settings": [
    {
      "type": "header",
      "content": "Layout Wdith"
    },
    
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "container-full-with-padding",
      "options": [
        {
          "value": "container-full",
          "label": "Full width"
        },
        {
          "value": "container-full-with-padding",
          "label": "Full width padded"
        },
        {
          "value": "container-full-mobile",
          "label": "Full width mobile only"
        },
        {
          "value": "container",
          "label": "Page width"
        },
        {
          "value": "container-narrow",
          "label": "Page width narrow"
        },
        {
          "value": "container-xs-narrow",
          "label": "Page width extra narrow"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Section Title",
      "default": "Section heading"
    },
    
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "heading-small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "heading-medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "heading-large",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "heading-xlarge",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "inline_richtext",
      "id": "sub_text",
      "label": "Text here",
      "default": "Stay ahead in the fashion game by exploring the latest seasonal styles that will keep your wardrobe fresh and trendy."
    },
       {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Text Size"
        },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Schema",
      "default":"scheme-6"

    },
   
     
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "paragraph",
      "content": "Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 20
    }
  ],

  "presets": [
    {
      "name": "Featured blog",
      "blocks": [
       {
         "type": "Block" 
        },
       { 
        "type": "Block",
        "settings": {
        "block_size":"vertical"
       }
       },
       {
       "type": "Block"
      }
      ]
      
      
    }
  ]
}

{% endschema %}
